utils
NumPy
pandas
scikit-learn
Matplotlib
scikit-image
SciPy
imblearn
gensim
joblib
nltk
scikit-learn
pyspellchecker
requests
waitress
flask
git+https://github.com/cnewman/spiral.git
